In [6]:
import pandas as pd
import numpy as np

In [16]:
patients = pd.DataFrame({'weight': [25, 12, 23], 
                          'height': [34, np.nan, 34],
                          'arterial pressure': [12, 23, np.nan] })

In [17]:
patients

   weight  height  arterial pressure
0      25    34.0               12.0
1      12     NaN               23.0
2      23    34.0                NaN

In [21]:
patients.columns[patients.isnull().any()]

Index(['height', 'arterial pressure'], dtype='object')

In [19]:
patients.isnull()

   weight  height  arterial pressure
0   False   False              False
1   False    True              False
2   False   False               True

In [22]:
patients.isnull().any()

weight               False
height                True
arterial pressure     True
dtype: bool

In [27]:
idx = pd.Index(["John", "Mary", "Angel", "Arnold"])
grades = pd.Series([94, 99, 51, 40], index=idx)
age = pd.Series([21, 18, 19, 21], index=idx)

In [28]:
data_frame = pd.DataFrame({"Grades":grades, "Age": age})

In [29]:
data_frame

        Grades  Age
John        94   21
Mary        99   18
Angel       51   19
Arnold      40   21